 body{
  color: black;
  width: 100%;

  overflow-x: hidden;
}

p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

h3{
  color:#121D25;
}

ul{
  text-align: center;
  z-index: 99;

  
}
div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}

.portada{
width: 100%;
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
position: center;

}

.nombres{
 font-family: 'Cormorant', serif;
  margin-top:250px;
  color:white;
  font-size: 19px;

}

.nuestraBoda{
 font-family: 'Pinyon Script', cursive;
  margin-top:10px;
  color:#621132;
  font-size: 50px;

}
@media (max-width:376px){
  
.nombres{
 font-family: 'Cormorant', serif;
  margin-top:100px;
  color:white;
  font-size: 17px;

}
.nuestraBoda{
 font-family: 'Pinyon Script', cursive;
  margin-top:10px;
  color:white;
  font-size: 30px;

}
}
#cuenta {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.simply-section {
  background: #fff;
  width: 120px;
  height: 80px;
  margin: 0 50px;
  margin:5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 30px;
  font-weight: 1000;
  font-family: 'Waterfall', cursive;
}

.simply-word {
  color:black;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Rouge Script', cursive;
}
.fondoMeGradue{
width: 100%;
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
position: center;

}
.nosCasamos{
font-family: 'Galada', cursive;
  margin-top:20px;
  color:#621132;
  font-size: 30px;

}
.textoNosCasamos{
  font-family: 'Katibeh', cursive;
  font-weight: 400;
  margin-top:10px;
  color:black;
  font-size: 23px;
  margin-bottom: 30px;

}
.textoSeccion3{
  font-family: 'Atma', cursive;
  font-weight: 400;
  margin-top:90px;
  color:white;
  font-size: 18px;
  margin-bottom: 50px;

}
.dondeycuando{
  background-color: white;
}
.dondeyCuando{
font-family: 'Galada', cursive;
  margin-top:30px;
  color:#621132;
  font-size: 30px;

}
.ceremoniaReligiosa{
  border-radius: 10px;
  background-color: #F5EFEE;
  text-align: center;
}
.imagen{
    border-radius: 20px;
    margin-bottom: 5px;
    align-content: center;
}
.textodondeycuando{
  font-size: 15px;
}
.carousel2 {
  background: white;
  border-radius: 10px; 
box-shadow: 10px 25px 25px rgba(0,0,0,0.5);

  }
  .carousel2 .carousel-item {
    height: 300px;
    border-radius: 5px;  

  }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px; 
      top: 0;
      left: 0;
      border-color: black;

       }
@media (min-width: 1000px) {
    .carousel2 .carousel-item {
    height: 500px; }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

       }
}

.padrinos{
  border-radius: 50%;
}

.textoSeccionPadrinos{
  font-family: 'Atma', cursive;
  font-weight: 400;
  margin-top:10px;
  color:gray;
  font-size: 20px;
  margin-bottom: 50px;

}

.mesaRegalos{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 400;
  margin-top:10px;
  color:gray;
  font-size: 12px;
  margin-bottom: 50px;

}
.tiendas{
  border-radius: 20px;
  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  border-color: gray;
  background-color: white;
}

.datosBancarios{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 400;
  color:black;
  font-size: 18px;
  margin-bottom: 50px;

}

.Tituloasistencia{
  font-family: 'Galada', cursive;
  font-size: 30px;
  color:#621132;

}

.textoasistencia{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 400;
  color:black;
  font-size: 13px;
  margin-bottom: 50px;

}
.Tituloasistenciaespero{
  font-family: 'Galada', cursive;
  font-size: 50px;
  margin-bottom: 30px;

}
.titulo{
  
  color: #7E4C0D ;
  


}
.btnwhats .textowhats{
  size:10px;
}
.btnwhats{
  text-decoration:none;
  color:white;
  border-color: white;
  background-color: #4ccb5a;
  height: 40px;
  border-top: 50px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  text-
}

.btn{
  text-decoration:none;
  color:white;
  border-color: white;
}


.btn:hover{
  text-decoration:none;
  color: black;
  border-color: #121D25;
 
}
.menu{
  color: #121D25;
  font-family: 'Questrial', sans-serif;
  margin-top: 0px;
}
.table {
  background: black;
  position: sticky;
  color:black;
  margin-bottom: 9px;
  top:0; 
}

.badge{
  background-color: black;
}
.cuerpo{
width: 100%;
  background: transparent; 
  color:#121D25;
z-index: -1;
margin-top: 0px;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;


}

.desactivado{
    margin-top: 320px;
  font-size: 35px;



}
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 13px;



}
@media (max-width:320px){
  
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 10px;

}
.badge{
  font-size: 9px;
 
}
}

.precio{

  margin-left: -20px;
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #621132;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

  .loader_bg img{
    display:inline-block;
    vertical-align:middle;
    margin-top: -40px;
    margin-left: 8px;
    animation-name:pulse_animation;animation-duration:2500ms;
    transform-origin:50% 50%;animation-timing-function:ease-in-out}
    @media (min-width: 375px){
.loader_bg img{max-width:180px !important;max-height:180px !important}}
@keyframes pulse_animation{0%{transform:scale(1)}100%{transform:scale(1.7)}}
   
 
.progress{position:relative;height:4px;display:block;width:100%;background-color:#F4F4F4;border-radius:2px;background-clip:padding-box;margin:0 auto;overflow:hidden}
.progress .loading-bar{background-color:#797d80}
.progress .indeterminate:before{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite}
.progress .indeterminate:after{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;-webkit-animation-delay:1.15s;animation-delay:1.15s}@-webkit-keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}
@keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}@-webkit-keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}@keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}


#scroll {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#909090;
    border-color: white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#621132;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.pie{
  background: #621132;
  border-top: solid 1px white;
  margin-bottom: 0px;
  font-size: 2rem;
  color:white;
  height: 100px;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Quicksand', sans-serif;
}

.piepag {
  font-size: 2rem;
  text-align: center;
  z-index: -1;
  color:#121D25;
  font-family: 'Oleo Script Swash Caps', sans-serif;

}
.center{display:table;width:100%;background-color: black;
margin-top:-25px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:#909090;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid rgba(167,146,129,.4);cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}

